python-dotenv==1.0.1
requests==2.32.4
numpy==2.2.3
Pillow==10.4.0
moviepy==2.1.2
imageio==2.37.0
imageio-ffmpeg==0.6.0
gTTS==2.5.4
nltk==3.9.1
g4f
psutil==6.1.1
PySocks==1.7.1
tqdm==4.67.1
playwright==1.52.0
